@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.logo{
    padding-top: 5pxpx;
    height: 50px;
    width: 50px;
    
}
a,li{
    font-weight: bold;
    
    text-decoration: none;
}


.navbar{
    
    list-style: none;
    
    
}
.navbar li{
    
    display: inline-block;
    padding: 0 15px;
    
    
}
.navbar li a{
    
    transition: all 0.3s ease 0s;
    color: white;
    
}

.navbar li a:hover{
    
    font-size: 1.2rem;
}
header{
    position: sticky;
    height: 60px;
    
    display: flex;
    justify-content: flex-start;
    
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
    
}

.forras:hover{
    font-size: 1rem;
    height: 2rem;
    width: 5.7rem;
    
    
}
body{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}
